[submodule "wallpaper"]
	path = wallpaper
	url = git@github.com:wandabastyle/wallpaper.git
	branch = main
[submodule ".config/niri"]
	path = .config/niri
	url = git@github.com:wandabastyle/niri.git
	branch = main
[submodule ".config/ghostty"]
	path = .config/ghostty
	url = git@github.com:wandabastyle/ghostty.git
	branch = main
[submodule ".config/fish"]
	path = .config/fish
	url = git@github.com:wandabastyle/fish.git
	branch = main
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:wandabastyle/nvim.git
	branch = experimental-lazy-mason
[submodule ".config/rofi"]
	path = .config/rofi
	url = git@github.com:wandabastyle/rofi.git
	branch = main
[submodule ".config/lazygit"]
	path = .config/lazygit
	url = git@github.com:wandabastyle/lazygit.git
	branch = main
[submodule ".config/noctalia"]
	path = .config/noctalia
	url = git@github.com:wandabastyle/noctalia.git
	branch = main
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:wandabastyle/tmux.git
	branch = main
[submodule ".config/nirinit"]
	path = .config/nirinit
	url = git@github.com:wandabastyle/nirinit.git
	branch = main
[submodule "assets/sddm/tokyo-night-sddm"]
	path = assets/sddm/tokyo-night-sddm
	url = https://github.com/Arjun31415/tokyo-night-sddm-qt6.git
